<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @country.Country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @country.Description %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @country.CountryCode %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @country.Abbrev %>
</p>

<%= link_to 'Update', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
