<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Is city</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.Name %></td>
        <td><%= city.Description %></td>
        <td><%= city.Iscity %></td>
        <td><%= link_to 'Read', city %></td>
        <td><%= link_to 'Update', edit_city_path(city) %></td>
        <td><%= link_to 'Delete', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
